[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[dev]
  targetPort = 3000
  port = 8888
  command = "npm run dev"

[functions]
  node_bundler = "esbuild"
